@charset "utf-8";
@import url(common.css);

.hero {
    width: 100%;
    height: 100vh;
    background: url(../img/main/hero.png) no-repeat center/cover;
}

header {
    background: transparent;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    color: var(--color-white);
    transition: 0.3s;
}

header:hover {
    background: var(--color-white);
}

header:hover .logo a {
    color: var(--color-black);
}

header:hover .gnb-list a {
    color: var(--color-black);
}

.logo a {
    color: var(--color-white);
}

.gnb .gnb-list a {
    color: var(--color-white);
}