@charset "utf-8";
@import url(fonts.css);

/* Theme */
:root {
  --color-primary: #1428A0;
  --color-primaryLight: #0383C4;
  --color-accent: #f6ab00;
  --color-badge: #97B4DA;
  --color-subTitle: #0B5489;
  --color-sectionBg: #EAF2FD;
  --color-white: #FFFFFF;
  --color-veryLightGray: #F5F5F5;
  --color-lightGray: #d9d9d9;
  --color-Gray: #c0c0c0;
  --color-darkGray: #353535;
  --color-black: #222222;

  --font-textG: 'GMarketSans', sans-serif;
  --font-textN: 'Noto Sans KR', sans-serif;
  --font-EnTitle: 'Aggravo', sans-serif;
  --box-shadow: 5px 5px 30px rgba(92, 125, 164, 0.1);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

html {
  font-size: var(--base-size);
  line-height: 1.15;
  /* iOS에서 화면 방향이 변경될 때 글자 크기가 자동으로 조정되는 것을 방지합니다. */
  -webkit-text-size-adjust: 100%;
  /* 앵커 이동을 부드럽게 만들어줍니다. */
  scroll-behavior: smooth;
}

body {
  color: var(--color-black);
  background: var(--color-white);

  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* li, a, img, button 기본 reset */
li {
  list-style: none;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  border-style: none;
}

img {
  object-fit: cover;
  object-position: center;
}

button,
input,
select,
textarea {
  font: inherit;
  font-size: 16px;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  text-transform: none;
  color: inherit;
  font: inherit;
}

textarea {
  resize: none;
  overflow: auto;
}

/* 텍스트 요소 */
address,
em,
i {
  font-style: normal;
}

small {
  font-size: 80%;
}

/* 텍스트 블라인드 */
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  /* 보여줄 영역만 남기고 나머지 부분은 자르는 명령 */
  white-space: nowrap;
}